
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="teacher-log">
    <div class="home">
        <div class="condiner">
            <div class="child-primery">
                 <div class="staff-child-text">
                  
                    <div class="validation-stff-log">
                        <div class=" login-input ">
                           
                            <p>Teacher Login</p>
                            <form action="\teacherlog" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <div class="stlg">
                                    
                                    <input type="text" name="username" placeholder="username">
                                    <input type="text" name="password" placeholder="password">
                                </div>
                               
                                <P class="wrong">{{wrong}}</P>

                                <div  class=" btn">
                                    <a href="\teacherreg"><button>Submit</button></a>
                                </div>

                                <div class="reg-link">Not a Member ? <span> <a href='/teacherreg'>Sign up Here</a></span></div>
                                
                            </form>
                        </div>
                        
                    </div>
                   
                     
                       
                    
                 </div>
            </div>

            <!-- <secont div> -->
            <div class="child">
                <div class="child-secondry">
                    <img src="image/hotel-receptionist-work.jpg" alt="">
                    
                </div>
                <div class="staff-action ">
                    <div class="child-action">
                        <ul>
                            <li> <a href="\">Home</a></li>
                            <li> <a href="\about">About</a> </li>
                            <li> <a href="\contact"> Contact</a></li>
                            <li> <a href="\teacherreg"> Sign Up</a></li>
                           
                        </ul
                    </div>
                   
               </div>

               
            </div>

        </div>

    </div>
</body>
</html>